main .sliders{
    width: 100%;
    height: 600px;
    margin-top: 52px;
    z-index: 0;
}

main .sliders img{
    width: 100%;
    height: 600px;
    image-orientation: flip;
    z-index: 0;
}

main .sliders .boton_slider{
    background-color: rgba(190, 110, 57, 20%);
    width: 120px;
}

main .sliders .boton_slider .boton_slider_icon{
    box-shadow: 2px 1px 1px 1px black;
}

.DayOffer_{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;

}

.DayOffer_ img{
    position: absolute;
}

.DayOffer_ .HR_{
    width: 40%;
    border-bottom: 1px solid black;
    background-color: rgba(104, 25, 24, 100%);
}

.offers_{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(190, 110, 57, 25%);
    padding: 20px 0;
    
}

section .Offer_{
    width: 300px;
    box-shadow: 0px 1px 2px 0px black;
}

section .Offer_ .title_offer{
    color: rgba(252, 0, 0, 1);
    font-weight: bolder;
}

section .Offer_ .subtitle_offer{
    color: black;
    font-weight: bolder;
}

section .Offer_ a{
    background-color: rgba(190, 110, 57, 69%);
    width: 100%;
    font-weight: bolder;
    font-size: 1.2em;
    color: black;
    box-shadow: 0px 1px 1px 0px black;
}

.Offer_ .offer_img{
    position: absolute;
    width: 90px;
    top: 140px;
    left: 170px;
}
.Offer_ .img_section{
    width: 220px;
    height: 150px;
    margin: auto;
}

.CalendarEvent_{
    position: relative;
    margin-top: 140px;
}

.CalendarEvent_ .CalendarEvent_events div{
   margin: 0 auto;

}

.CalendarEvent_ .CalendarEvent_events #event2 img{
    width: 580px;
}

.CalendarEvent_ .CalendarEvent_events #event1{
    position: absolute;
    background-color: rgba(190, 110, 57, 70%);
    width: 580px;
    border-radius: 100%;
    height: 580px;
    left: 0px;
}

.CalendarEvent_ .CalendarEvent_events #event1 table{
    margin-top: 70px;
    margin-left: 60px;
    width: 300px;
    height: 400px;
}

.CalendarEvent_ .CalendarEvent_events #event3 table{
    margin-top: 70px;
    margin-left: 230px;
    width: 300px;
    height: 400px;
    text-align: right;
}

.CalendarEvent_ 
.CalendarEvent_events #event1 table 
.Date_event{
    font-size: 2.5em;
    color: white;
    text-align: right;
    font-weight: bold;

}

.CalendarEvent_ 
.CalendarEvent_events #event3 table 
.Date_event{
    font-size: 2.5em;
    color: white;
    text-align: left;
    font-weight: bold;

}

.CalendarEvent_ 
.CalendarEvent_events #event1 table 
.Title_event{
    color: white;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
}

.CalendarEvent_ 
.CalendarEvent_events
#event3 .Title_event{
    color: white;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 5px;
}

.CalendarEvent_ 
.CalendarEvent_events #event1 table 
.Description_event{
    color: white;
    text-align: justify;
    font-size: 1.2em;
    padding-right: 20px;
}

.CalendarEvent_ 
.CalendarEvent_events #event3 table 
.Description_event{
    color: white;
    text-align: justify;
    font-size: 1.1em;
    padding-left: 10px;
}

.CalendarEvent_ 
.CalendarEvent_events #event1 table 
.Footer_event{
    font-weight: bold;
    color: white;
    text-align: right;
    padding-right: 25px;
    font-size: 1.4em;
}

.CalendarEvent_ 
.CalendarEvent_events #event3 table 
.Footer_event{
    font-weight: bold;
    color: white;
    text-align: left;
    padding-left: 5px;
    font-size: 1.4em;
}

.CalendarEvent_ 
.CalendarEvent_events #event1 table 
.botton_event{
    margin-left: 200px;
    margin-top: 30px;
}

.CalendarEvent_ 
.CalendarEvent_events #event3 table 
.botton_event{
    margin-right: 200px;
    margin-top: 30px;
}

.CalendarEvent_ .CalendarEvent_events #event2{
    width: 580px;
    position: relative;
}

.CalendarEvent_ .CalendarEvent_events #event3{
    position: absolute;
    background-color: rgba(104, 25, 24, 70%);
    width: 580px;
    border-radius: 100%;
    height: 580px;
    right: 0px;
    z-index: 0;
}


.section_about .section_about_fila h2{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding: 15px;
    background-color: rgba(104, 25, 24, 100%);
    color: white;

}

.section_about {
    display: flex;
    background-color: rgba(190, 110, 57, 50%);
    border-radius: 5px;
    margin-bottom: 400px;
}

.section_about a {
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 600px;
}

.section_about a:hover {
    color: black;
}

.section_about .section_about_fila img{
    padding: 20px;
}

.section_about .section_about_fila p{
    font-size: 1.7em;
    text-align: justify;
    width: 90%;
    margin-left: 40px;
}

.section_about .section_about_fila{
    display: flex;
    justify-content: center;
    align-items: center;
}





